services:
  telegram-bot:
    build:
      context: https://github.com/H1D/ics_lunchmoney_sync.git
      dockerfile: telegram-bot/Dockerfile
    container_name: telegram-bot
    restart: unless-stopped
    environment:
      - TOKEN=${TOKEN}
      - USER_ID=${USER_ID}
      - ICS_EMAIL=${ICS_EMAIL}
      - ICS_PASSWORD=${ICS_PASSWORD}
      - LUNCHMONEY_TOKEN=${LUNCHMONEY_TOKEN}
      - LUNCHMONEY_ASSET_ID=${LUNCHMONEY_ASSET_ID}
      - SYNC_DAYS=${SYNC_DAYS:-30}
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
