version: "3.8"

services:
  telegram-bot:
    build:
      context: https://github.com/H1D/ics_lunchmoney_sync.git
      dockerfile: telegram-bot/Dockerfile
    container_name: telegram-bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
