version: "3.8"

services:
  telegram-bot:
    image: ghcr.io/temasus/ics_lunchmoney_sync:latest
    container_name: telegram-bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
